* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

button {
  border-style: none;
  outline: none;
}

html {
  box-sizing: border-box;
  font-size: 62.5%
}

body {
  font-size: 1.3rem;
  font-family: $font-default;

  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $light-grayish-blue;
}